<launch><param name="use_sim_time" value="true" /><include file="/study/racer-single.xml"><arg name="drone_id" value="1" /><arg name="drone_num" value="2" /><arg name="map_size_x" value="14" /><arg name="map_size_y" value="14" /><arg name="map_size_z" value="3.5" /><arg name="odom_prefix" value="/common/odom" /><arg name="simulation" value="false" /><arg name="sensor_pose_topic" value="/common/sensor_pose_1" /></include><include file="/study/racer-single.xml"><arg name="drone_id" value="2" /><arg name="drone_num" value="2" /><arg name="map_size_x" value="14" /><arg name="map_size_y" value="14" /><arg name="map_size_z" value="3.5" /><arg name="odom_prefix" value="/common/odom" /><arg name="simulation" value="false" /><arg name="sensor_pose_topic" value="/common/sensor_pose_2" /></include></launch>