<?xml version="1.0"?>
<dialog name="quick_start" show_again="false"/>
<window><width>800</width><height>1000</height><menus><drawer default="false"/></menus><dialog_on_exit>false</dialog_on_exit></window>
<plugin filename="MinimalScene" name="Gazebo / rigid-body flight">
  <gz-gui><title>Gazebo / rigid-body flight</title><property type="bool" key="showTitleBar">false</property><property type="string" key="state">docked</property></gz-gui>
  <engine>ogre2</engine><scene>scene</scene><ambient_light>0.7 0.7 0.7</ambient_light><background_color>0.12 0.15 0.2</background_color>
  <camera_pose>12 2.2 19.5 0 1.2 1.570796</camera_pose>
</plugin>
<plugin filename="GzSceneManager" name="Scene Manager"><gz-gui><property key="state" type="string">floating</property><property key="width" type="double">5</property><property key="height" type="double">5</property><property key="showTitleBar" type="bool">false</property></gz-gui></plugin>
<plugin filename="InteractiveViewControl" name="View control"><gz-gui><property key="state" type="string">floating</property><property key="width" type="double">5</property><property key="height" type="double">5</property><property key="showTitleBar" type="bool">false</property></gz-gui></plugin>
<plugin filename="CameraTracking" name="Camera Tracking"><gz-gui><property key="state" type="string">floating</property><property key="width" type="double">5</property><property key="height" type="double">5</property><property key="showTitleBar" type="bool">false</property></gz-gui></plugin>
<plugin filename="WorldControl" name="World control"><gz-gui><property key="state" type="string">floating</property><property key="width" type="double">120</property><property key="height" type="double">60</property><property key="showTitleBar" type="bool">false</property></gz-gui><play_pause>true</play_pause><step>false</step><start_paused>false</start_paused></plugin>
